<!DOCTYPE html>
<html> 
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/style.css" type="text/css" rel="stylesheet">
		<title>Timothy’s Bookings</title>
	</head>

<body>
    <table>
        
        <tr>
            <th>18th october</th>
            <th>19th october</th>
            <th>20th october</th>
        </tr>
        <tr>
            <td>emil(10)</td>
            <td>gleb(1)</td>
            <td>adi(19)</td>
        </tr>
    </table>

</body>

</html>